{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminVehiculeController!
{% endblock %}

{% block body %}
	<section id="vehicules">
		<h2 class="m-3 mt-3 mb-4 fw-bold">Véhicules</h2>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Marque</th>
					<th>Modèle</th>
					<th>Année</th>
					<th>Conducteur</th>
					<th>Statut</th>
					<th>Actions</th>
				</tr>
			</thead>
			{% for vehicule in vehicules %}
			<tbody>
				<tr>
					<td>
						{{ vehicule.id }}
					</td>
					<td>{{ vehicule.marque }}</td>
					<td>{{ vehicule.modele }}</td>
					<td>{{ vehicule.annee }}</td>
					<td>Billy Doe</td>
					<td>{{ vehicule.status }}</td>
					<td>
						<a href="#">Ajouter</a>
						<a href="#">Modifier</a>
						<a href="#">Supprimer</a>
					</td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
	</section>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.2/chart.min.js"></script>
	<script>
		src = "script.js";
	</script>
{% endblock %}
