{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<body class="bg-primary">


		{% if error %}
			<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}


		<div class="container mt-5 p-5 bk-register ">
			<h1 class="title-register fw-bold text-info">Se connecter</h1>
			<div class="bk-form bg-light py-4 d-flex flex-column justify-content-around align-items-center">
				<form action="{{ path('app_login') }}" method="post" class="w-100">
					<div class="form-group py-5 w-50 m-auto d-flex flex-column gap-3">
						<label for="username">Email</label>
						<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">

						<label for="password">Mot de passe</label>
						<input type="password" id="password" name="_password" class="form-control">

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<input type="hidden" name="_target_path" value="/">
					</div>
					<div class="d-flex justify-content-around btn-register me-3">
						<button class="btn bg-success fw-bold d-flex justify-content-evenly mt-3" type="submit">
							Connexion
						</button>
						<a href="/register" class="btn bg-primary text-white fw-bold mt-3" type="submit">
							Inscription
						</a>
					
						
				</div>
				</form>
			</div>
		</div>
	</body>

{% endblock %}
